{% extends 'main.html' %}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Выйти</button>
        </form>
    {% else %}
        <a class="btn btn-primary" aria-current="page" href="{% url 'users:register' %}">Регистрация</a>
        <a class="btn btn-primary" aria-current="page" href="{% url 'users:login' %}">Войти</a>
    {% endif %}
    </ul>
    <h1>Test Weather</h1>
    <div class="input-group mb-3" style="max-width: 500px">
        <select onchange="changeCountry(this)" data-placeholder="Country" class="form-select" id="countrySelect2">
            <option selected></option>
            {% for country in countries %}
                <option value="{{ country.code }}">{{ country.name }} ({{ country.code }})</option>
            {% endfor %}
        </select>
        <select onchange="changeCity(this)" data-placeholder="City" class="form-select" id="citySelect2">
            <option selected></option>
        </select>
        <button class="btn btn-success" id="findWeatherButton" type="button" disabled>Weather</button>
    </div>
    <pre id="textWeather"></pre>
    <div class="row">
        <div class="col col-6">
            <h4>Чаще всего cмотрят погоду в:</h4>
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Код страны</th>
                    <th scope="col">Город</th>
                    <th scope="col">Количество просмотров</th>
                </tr>
                </thead>
                <tbody id="countSearchCity">
                </tbody>
            </table>
        </div>
        {% if request.user.is_authenticated %}
            <div class="col col-6">
                <h4>Ваша история поиска погоды:</h4>
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Код страны</th>
                        <th scope="col">Город</th>
                    </tr>
                    </thead>
                    <tbody id="historiesUser">
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
    {% if request.user.is_authenticated %}
        username = "{{ request.user.username }}";
        historyUserWeather();
    {% endif %}
    </script>
{% endblock %}